.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.User {
  position: relative;
  background: lightblue;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  margin-top: 50px;
  margin-right: 10px;
}


.User {
  position: relative;
  background: lightblue;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  margin-top: 50px;
}

.StatusList {
  background: #eee;
  padding: 5px;
  margin: 5px 0;
}

.Tooltip {
  position: absolute;
  top: -10px;
  width: 80px;
  background: #666;
  color: white;
  text-align: center;
}